        <div class="FlexboxIeFix">
        <header class="PageHeader PageHeader--withBackground" style="background: url({{ 'AmbassadorHeader.jpg' | asset_img_url: '1x1', format: 'jpg' }})">
          <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn Image--contrast"
               data-optimumx="1.2"
               data-bgset="{{ 'AmbassadorHeader.jpg' | asset_img_url: 'x600' }} 600w, {{ 'AmbassadorHeader.jpg' | asset_img_url: '800x' }} 800w, {{ 'AmbassadorHeader.jpg' | asset_img_url: '1200x' }} 1200w, {{ 'AmbassadorHeader.jpg' | asset_img_url: '1400x' }} 1400w, {{ 'AmbassadorHeader.jpg' | asset_img_url: '1600x' }} 1600w">
          </div>

          <noscript>
            <div class="PageHeader__ImageWrapper Image--contrast" style="background-image: url({{ 'AmbassadorHeader.jpg' | asset_img_url: '800x' }})"></div>
          </noscript>

          <div class="Container">
            <div class="SectionHeader SectionHeader--center">
              <h1 class="SectionHeader__Heading Heading u-h1">Join Our Team</h1>
                <div class="SectionHeader__Description Rte">
                  
                </div>
            </div>
          </div>
        </header>
        </div>

  <div class="PageContent PageContent--narrow Rte">
    <div class="Container">
    {{ page.content }}
    
    {%- form 'contact', class: 'Form Form--spacingTight' -%}
        {%- if form.posted_successfully? -%}
          <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="Form__Group">
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" placeholder="{{ 'contact.form.name' | t }}" required {% if customer %}value="{{ customer.name }}"{% endif %}>
            <label class="Form__FloatingLabel">{{ 'contact.form.name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input type="email" class="Form__Input" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
            <label class="Form__FloatingLabel">{{ 'contact.form.email' | t }}</label>
          </div>
        </div>
            <div class="Form__Group">
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[instagram]" aria-label="Instagram" placeholder="Instagram">
            <label class="Form__FloatingLabel">Instagram</label>
          </div>

          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[facebook]" aria-label="Facebook url" placeholder="Facebook url">
            <label class="Form__FloatingLabel">Facebook url</label>
          </div>
    </div>
                      <div class="Form__Group">
                        <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[youtube]" aria-label="YouTube url" placeholder="YouTube url">
            <label class="Form__FloatingLabel">YouTube url</label>
          </div>

          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[tiktok]" aria-label="TikTok" placeholder="TikTok">
            <label class="Form__FloatingLabel">TikTok</label>
          </div>
        </div>

        {%- for block in section.blocks -%}
          {%- assign field_title = block.settings.title -%}

          {%- if field_title == blank -%}
            {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
          {%- endif -%}

          {%- if block.type == 'text' -%}
            <div class="Form__Item">
              {%- if block.settings.use_long_text -%}
                <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- else -%}
                <input type="text" class="Form__Input" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- endif -%}
            </div>
          {%- elsif block.type == 'dropdown' -%}
            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <div class="Form__Item">
              <div class="Form__Select Select Select--primary">
                {%- include 'icon' with 'select-arrow' -%}

                <select name="contact[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
                  <option value="" disabled selected>{{ block.settings.title | escape }}</option>

                  {%- for value in values -%}
                    {%- assign trim_value = value | strip -%}

                    <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}

        <div class="Form__Item">
          <textarea name="contact[whyworkwithus]" cols="30" rows="10" class="Form__Textarea" aria-label="Why do you want to work with us?" placeholder="Why do you want to work with us?" required></textarea>
          <label class="Form__FloatingLabel">Why do you want to work with us?</label>
        </div>
    	<div class="Form__Item">
          <textarea name="contact[whatplans]" cols="30" rows="10" class="Form__Textarea" aria-label="What plans do you have with sharing our products?" placeholder="What plans do you have with sharing our products?" required></textarea>
          <label class="Form__FloatingLabel">What plans do you have with sharing our products?</label>
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'contact.form.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>

{% schema %}
  {
    "name": "Ambassador Program",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
