<style>
  .FlexboxIeFix
  {
   margin-bottom:35px; 
  }
</style>

<section class="Section Section--spacingNormal">
              <div class="FlexboxIeFix">
        <header class="PageHeader PageHeader--withBackground" style="background: url('https://cdn.shopify.com/s/files/1/1802/5145/files/WithCoStock-3-2.jpg?v=1606755400'); background-size: cover;">
          <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn Image--contrast"
               data-optimumx="1.2"
               data-bgset="{{ 'WithCoStock-2-2.jpg' | asset_img_url: 'x600' }} 600w, {{ 'WithCoStock-2-2.jpg' | asset_img_url: '800x' }} 800w, {{ 'WithCoStock-2-2.jpg' | asset_img_url: '1200x' }} 1200w, {{ 'WithCoStock-2-2.jpg' | asset_img_url: '1400x' }} 1400w, {{ 'WithCoStock-2-2.jpg' | asset_img_url: '1600x' }} 1600w">
          </div>

          <div class="Container">
            <div class="SectionHeader SectionHeader--center">
              <h1 class="SectionHeader__Heading Heading u-h1">About WithCo</h1>
            </div>
          </div>
        </header>
        </div>
<div class="Container">
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>
</section>





